input {

    height: 42px;
    font-size: 15px;
    border: 0;
    border-radius: 35px;
    outline: none;
    padding-left: 10px;
    background-color: rgb(255, 255, 255);
}

.input-line {
    padding: 15px;
    border-radius: 35px;

    height: 72px;
    border: 1px solid #c5c3c3;
    background-color: rgb(255, 255, 255);
}
.border-bottom {
    border-bottom: 0.5px solid #c5c3c3;
}