<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <th:block th:insert="~{layout/header}"></th:block>
    <div class="card-header text-center">
        <strong><h2><p class="font-weight-bold">GIANT 배송조회</p></h2></strong>
    </div>
</head>
<body>
    <form class="input-line d-flex" action="/findmulti" method="post" enctype="multipart/form-data">
        <div class="input-group">
            <input type="file" name="file" class="form-control" id="inputGroupFile04" aria-describedby="inputGroupFileAddon04" aria-label="Upload">
            <button class="btn btn-outline-secondary" type="submit" id="inputGroupFileAddon04"><i class="bi bi-search"></i></button>
        </div>
    </form>
</body>
</html>