<!DOCTYPE html>
<html lang="en">
<head>
  <head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <th:block th:insert="~{layout/header}"></th:block>
  </head>
</head>
<body>
<div class="container-sm text-center">
<br/>
  <div class="card rounded-pill p-3 border-bottom">
      <div class="form-group text-center">
        <strong><h1 style="border-bottom: 1px solid #dee2e6;" th:text="${endStatus.deliveryStatus}"></h1></strong>
      </div>
    <div class="card-body">
      <div class="col-12 d-flex flex-wrap align-items-center">
        <div class="col-12 col-sm-12 col-md-4">
          <strong><h4 th:text="${hwbNo}"></h4></strong>
        </div>
        <div class="col-12 col-sm-12 col-md-4 col-lg-4 clo-xl-4">
          <strong><h4 th:text="${endStatus.deliveryDate}"></h4></strong>
        </div>
        <div class="col-12 col-sm-12 col-md-4 col-lg-4 clo-xl-4">
          <strong><h4 th:text="${endStatus.deliveryCon}"></h4></strong>
        </div>
      </div>
      </div>
    </div>
    <div class="m-1">
      <p>
        <a class="" data-bs-toggle="collapse" href="#collapseExample" role="button" aria-expanded="false" aria-controls="collapseExample">
          <i class="bi bi-arrow-bar-down"> details</i>
        </a>
      </p>
      <div class="collapse" id="collapseExample">
        <div class="card card-body">
          <div class="d-flex">
            <div class="col-4 p-1">
              <div class="text-center">
               <h5>Date/Time</h5>
              </div>
            </div>
            <div class="col-4 p-1">
              <div class="text-center">
                <h5>Area</h5>
              </div>
            </div>
            <div class="col-4 p-1">
              <div class="text-center">
                <h5>Status</h5>
              </div>
            </div>
          </div>
          <div th:each="item : ${trackingDetailDto}" class="d-flex flex-wrap">
            <div class="col-12 p-1">
                <div class="p-3 border d-flex rounded-pill flex-wrap">
                    <div class="col-12 col-sm-12 col-md-4 col-lg-4 clo-xl-4">
                        <h6 th:text="${item.deliveryDate}"></h6>
                    </div>
                    <div class="col-12 col-sm-12 col-md-4 col-lg-4 clo-xl-4">
                        <h6 th:text="${item.deliveryCon}"></h6>
                    </div>
                    <div class="col-12 col-sm-12 col-md-4 col-lg-4 clo-xl-4">
                        <h6 th:text="${item.deliveryStatus}"></h6>
                    </div>
                </div>
            </div>
<!--            <div class="col-4 p-1">-->
<!--              <div class="input-group mb-3">-->
<!--                <input disabled="true" th:value="${item.getDeliveryCon()}" type="text" class="form-control rounded-pill text-center" placeholder="Username" aria-label="Username" aria-describedby="basic-addon1">-->
<!--              </div>-->
<!--            </div>-->
<!--            <div class="col-4 p-1">-->
<!--              <div class="input-group mb-3">-->
<!--                <input disabled="true" th:value="${item.getDeliveryStatus()}" type="text" class="form-control rounded-pill text-center" placeholder="Username" aria-label="Username" aria-describedby="basic-addon1">-->
<!--              </div>-->
<!--            </div>-->
          </div>
        </div>
      </div>
    </div>
  </div>
</div>
</body>
</html>